@import '../../styles/global.scss';


.navContainer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: $slateBlue;

    .navItem {
        color: white;
        text-decoration: none;
        margin-right: 1rem;

    }

    .navItem:hover {
        text-decoration: underline;
    }

}